@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
}

body, p, span, li, button, input {
  font-family: var(--font-body);
}

body, p, span, li {
  font-weight: var(--fw-medium);
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: var(--fw-medium);
}

.font-bold {
  font-weight: var(--fw-bold);
}

.font-italic {
  font-style: italic;
}